.popup__close-icon {
  width: 32px;
  height: 32px;
  background: url(../../../images/popup__close-icon-big.svg) #000000 no-repeat center / cover;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
}

@media screen and (max-width: 599px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    background-image: url(../../../images/popup__close-icon-small.png);
    top: -36px;
    right: 0;
  }
}
