.profile__info {
  display: grid;
  grid-template-columns: fit-content(100%) 24px;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas:
  "profile__name profile__edit-button"
  "profile__job .";
  column-gap: 18px;
  max-width: 550px;
}

@media screen and (max-width: 599px) {
  .profile__info {
    grid-template-columns: fit-content(100%) 18px;
    column-gap: 10px;
  }
}
